@media screen and (max-width: 1500px) {
    .page  {
        .main {
            .main-extra {
                .star {
                    &:last-child {
                        left: 50%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1272px) {
    .container {
        padding-right: 16px;
        padding-left: 16px;
    }

    .card-goods {
        grid-template-columns: repeat(auto-fit, 285px);

        .card-good {
            .card-good-image {
                height: 288px;

                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .page {
        .main {
            .container {
                .main-stats {
                    gap: 24px;
                }
            }

            .main-extra {
                .star {
                    &:first-child {
                        left: 80%;
                    }
                }
            }
        }

        .style {
            .container {
                margin-right: 16px;
                margin-left: 16px;
            }
        }

        .review {
            .reviews {
                padding-right: 16px;
                padding-left: 16px;

                .review-item {
                    padding: 20px 24px;
                    max-width: 380px;
                }
            }
        }
    }

    .footer {
        .callback {
            min-width: calc(100% - 32px);
            left: unset;
            margin-right: 16px;
            margin-left: 16px;
        }
    }
}

@media screen and (max-width: 1232px) {
    .card-goods {
        grid-template-columns: repeat(auto-fit, 275px);

        .card-good {
            .card-good-image {
                height: 278px;
            }
        }
    }

    .page {
        .main {
            .container {
                .main-title {
                    font-size: 60px;
                    line-height: 60px;
                    max-width: 520px;
                }

                .main-text {
                    max-width: 520px;
                }
                
                .main-stats {
                    .main-stat {
                        .main-stat-title {
                            font-size: 32px;
                        }

                        .main-stat-text {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1192px) {
    .card-goods {
        grid-template-columns: repeat(auto-fit, 265px);

        .card-good {
            .card-good-image {
                height: 268px;
            }
        }
    }

    .header {
        .container {
            .search {
                .search-input {
                    min-width: 280.5px;
                }
            }
        }
    }

    .page {
        .main {
            .container {
                .main-stats {
                    max-width: 308px;
                    flex-wrap: wrap;
                    justify-content: center;

                    .vr {
                        &:nth-child(4) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1174px) {
    .page {
        .style {
            .container {
                .styles {
                    .style-item {
                        &.short {
                            min-width: 684px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1152px) {
    .card-goods {
        grid-template-columns: repeat(auto-fit, 255px);

        .card-good {
            .card-good-image {
                height: 258px;
            }
        }
    }
}

@media screen and (max-width: 1112px) {
    .card-goods {
        grid-template-columns: repeat(auto-fit, 245px);

        .card-good {
            .card-good-image {
                height: 248px;
            }
        }
    }

    .page {
        .main {
            .container {
                .main-title {
                    font-size: 56px;
                    line-height: 56px;
                }

                .main-text {
                    max-width: 420px;
                }
            }

            .main-extra {
                .star {
                    &:last-child {
                        left: 45%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1072px) {
    .card-goods {
        grid-template-columns: repeat(auto-fit, 235px);

        .card-good {
            .card-good-image {
                height: 238px;
            }
        }
    }
}

@media screen and (max-width: 1032px) {
    .card-goods {
        grid-template-columns: repeat(auto-fit, 225px);

        .card-good {
            .card-good-image {
                height: 228px;
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .header {
        .container {
            .search {
                .search-input {
                    min-width: 236px;
                }
            }
        }
    }

    .page {
        .main {
            background: #F2F0F1 url('../images/bg-main-mobile.webp') no-repeat bottom center;
            padding-bottom: 640px;
            padding-top: 40px;

            .container {
                .main-title {
                    margin-right: auto;
                    margin-left: auto;
                }

                .main-text {
                    margin-right: auto;
                    margin-left: auto;
                    max-width: 520px;
                }

                .main-action {
                    text-align: center;
                }

                .main-stats {
                    margin-right: auto;
                    margin-left: auto;
                }
            }

            .main-extra {
                .star {
                    &:first-child {
                        top: 664px;
                        left: 70%;
                    }

                    &:last-child {
                        top: 918px;
                        left: 20%;
                    }
                }
            }
        }

        .brand {
            .container {
                gap: 20.16px;
                flex-wrap: wrap;
            }
        }

        .review {
            padding-bottom: 190px;
        }
    }

    .footer {
        padding-top: 190px;

        .container {
            .wrapper {
                flex-wrap: wrap;
                gap: 24.42px;

                .info {
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }

        .callback {
            flex-direction: column;
            gap: 32px;
        }
    }
}

@media screen and (max-width: 870px) {
    .header {
        .container {
            .search {
                display: none;
            }

            .action {
                .action-link {
                    &.mobile {
                        display: block;
                    }
                }
            }
        }
    }

    .page {
        .main {
            .main-extra {
                .star {
                    &:last-child {
                        left: 10%;
                    }
                }
            }
        }
    }

    .footer {
        .container {
            .wrapper {
                .help-wrapper {
                    flex-wrap: wrap;
                    gap: 24px;
                }
            }
        }
    }
}

@media screen and (max-width: 780px) {
    .page {
        .main {
            .main-extra {
                .star {
                    &:first-child {
                        top: 610px;
                        left: 80%;
                    }

                    &:last-child {
                        top: 860px;
                        left: 5%;
                    }
                }
            }
        }

        .style {
            .container {
                padding: 40px 24px 27px 24px;

                .styles {
                    .style-item {
                        &.short {
                            min-width: 100%;
                        }

                        &.wide {
                            min-width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .header {
        .container {
            .mobile-wrapper {
                display: flex;
                align-items: center;
                gap: 16px;

                .menu-mobile {
                    display: block;
                }
            }

            .menu {
                display: none;
            }
        }
    }

    .page {
        .main {
            background-size: 100%;
            padding-bottom: 540px;
        }
    }
}

@media screen and (max-width: 606px) {
    .footer {
        .container {
            .wrapper {
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 530px) {
    .page {
        .main {
            .container {
                .main-title {
                    font-size: 48px;
                    line-height: 48px;
                }
            }

            .main-extra {
                .star {
                    &:first-child {
                        top: 610px;
                        left: 80%;
                        width: 76px;
                        height: 76px;
                    }

                    &:last-child {
                        top: 830px;
                        left: 5%;
                        width: 44px;
                        height: 44px;
                    }
                }
            }
        }

        .style {
            .container {
                .styles {
                    .style-item {
                        height: 190px;
                    }
                }
            }
        }
    }

    .footer {
        .callback {
            .callback-title {
                font-size: 36px;
            }
        }
    }
}

@media screen and (max-width: 501px) {
    .card-goods {
        grid-template-columns: repeat(auto-fit, 205px);

        .card-good {
            .card-good-title {
                font-size: 16px;
            }

            .card-good-rating {
                .card-good-rating-number {
                    span {
                        font-size: 12px;
                    }
                }
            }

            .card-good-price {
                span {
                    font-size: 20px;
                }

                .card-good-price-discount {
                    span {
                        &:last-child {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 493px) {
    .footer {
        .callback {
            .callback-title {
                font-size: 32px;
                line-height: 35px;
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .page {
        .main {
            padding-bottom: 460px;

            .container {
                .main-title {
                    font-size: 42px;
                    line-height: 42px;
                }
            }

            .main-extra {
                .star {
                    &:last-child {
                        top: 760px;
                    }
                }
            }
        }
    }

    .footer {
        .container {
            .wrapper {
                .info {
                    margin-left: unset;
                }
            }
        }
    }
}

@media screen and (max-width: 456px) {
    .footer {
        .callback {
            padding: 32px 24px 28px 24px;

            .callback-form {
                width: 100%;

                .form-mail {
                    input {
                        width: 100%;
                    }
                }
            }
        }
    }

    .page {
        .review {
            .container {
                .review-header {
                    .review-title {
                        font-size: 32px;
                        line-height: 36px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 444px) {
    .page {
        .style {
            .container {
                .style-title {
                    font-size: 32px;
                    line-height: 36px;
                }
            }
        }
    }
}

@media screen and (max-width: 434px) {
    .page {
        .new {
            .container {
                .new-title {
                    font-size: 32px;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .discount {
        .container {
            .discount-text {
                margin-left: unset;
                font-size: 12px;
            }

            .discount-close {
                display: none;
            }
        }
    }

    .page {
        .main {
            padding-bottom: 430px;

            .container {
                .main-title {
                    font-size: 36px;
                    line-height: 34px;
                }

                .main-text {
                    font-size: 14px;
                    line-height: 20px;
                }

                .main-action {
                    .btn-main {
                        width: 100%;
                    }
                }

                .main-stats {
                    .main-stat {
                        .main-stat-title {
                            font-size: 24px;
                        }

                        .main-stat-text {
                            font-size: 12px;
                            line-height: 22px;
                        }
                    }
                }
            }

            .main-extra {
                .star {
                    &:first-child {
                        top: 550px;
                        left: 75%;
                    }

                    &:last-child {
                        top: 720px;
                    }
                }
            }
        }

        .top {
            .top-title {
                font-size: 38px;
            }
        }

        .style {
            .container {
                .styles {
                    .style-item {
                        .style-item-title {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}