@import 'base';

.discount {
    background-color: $black-color;
    color: $white-color;
    padding-top: 9px;
    padding-bottom: 9px;

    .container {
        @include flex-center;

        .discount-text {
            margin-left: auto;
            font-size: 14px;

            .discount-link {
                font-family: 'SatoshiMedium', sans-serif;
                text-decoration: underline;
                color: $white-color;
            }
        }

        .discount-close {
            margin-left: auto;
            cursor: pointer;
        }
    }
}

.header {
    background-color: $white-color;
    padding-top: 24px;
    padding-bottom: 24px;

    .container {
        @include flex-center-between;

        .mobile-wrapper {
            .burger {
                cursor: pointer;
            }

            .menu-mobile {
                display: none;
            }
        }

        .menu {
            .menu-list {
                list-style: none;
                @include flex-center-between;
                gap: 24px;

                .menu-item {
                    .menu-link {
                        display: inline-block;
                        font-size: 16px;
                        color: $black-color;
                        transition: .3s;
                        padding-bottom: 3px;
                        border-bottom: 1px solid transparent;

                        &:hover {
                            color: rgba($color: $black-color, $alpha: 60%);
                            border-bottom-color: rgba($color: $black-color, $alpha: 30%);
                        }

                        &.menu-link-group {
                            display: inline-flex;
                            align-items: center;
                            gap: 4px;

                            &:hover {
                                svg {
                                    path {
                                        fill: rgba($color: $black-color, $alpha: 60%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .search {
            position: relative;

            .search-input {
                background-color: #F0F0F0;
                min-width: 561px;
                height: 48px;
                border: 0;
                outline: 0;
                border-radius: 62px;
                padding: 12px 16px 12px 52px;
                font-family: 'Satoshi', sans-serif;
                font-size: 16px;
                color: $black-color;

                &::placeholder {
                    color: rgba($color: $black-color, $alpha: 40%);
                }
            }

            .search-image {
                position: absolute;
                top: 12px;
                left: 16px;
                width: 24px;
                height: 24px;
            }
        }

        .action {
            @include flex-center-between;
            gap: 14px;

            .action-link {
                width: 24px;
                height: 24px;

                &.mobile {
                    display: none;
                }
            }
        }
    }
}

.page {
    .main {
        padding-top: 103px;
        padding-bottom: 116px;
        background: #F2F0F1 url('../images/bg-main.webp') no-repeat bottom right;
        overflow: hidden;
        position: relative;

        .container {
            .main-title {
                font-family: 'IntegralCFBold', sans-serif;
                font-size: 64px;
                line-height: 64px;
                max-width: 577px;
                margin-bottom: 32px;
            }

            .main-text {
                font-size: 16px;
                line-height: 22px;
                color: rgba($color: $black-color, $alpha: 60%);
                max-width: 545px;
                margin-bottom: 32px;
            }

            .main-action {
                margin-bottom: 48px;
            }

            .main-stats {
                display: flex;
                align-items: center;
                gap: 32px;

                .main-stat {
                    .main-stat-title {
                        font-family: 'SatoshiBold', sans-serif;
                        font-size: 40px;
                    }

                    .main-stat-text {
                        font-size: 16px;
                        line-height: 22px;
                        color: rgba($color: $black-color, $alpha: 60%);
                    }
                }

                .vr {
                    height: 74px;
                    width: 1px;
                    background-color: rgba($color: $black-color, $alpha: 10%);
                }
            }
        }

        .main-extra {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            pointer-events: none;

            .star {
                position: absolute;
                z-index: 1;

                &:first-child {
                    top: 86px;
                    left: 90%;
                }

                &:last-child {
                    top: 297px;
                    left: 60%;
                }
            }
        }
    }

    .brand {
        background-color: $black-color;
        padding-top: 42px;
        padding-bottom: 42px;

        .container {
            @include flex-center-between;

            .brand-item {
                user-select: none;
                -webkit-user-select: none;
            }
        }
    }

    .new {
        padding-top: 72px;

        .container {
            .new-title {
                margin-bottom: 55px;
            }

            .card-goods {
                margin-bottom: 36px;
            }

            .new-action {
                text-align: center;
                margin-bottom: 64px;
            }

            hr {
                height: 1px;
                border: 0;
                border-top: 1px solid rgba($color: $black-color, $alpha: 10%);
            }
        }
    }

    .top {
        padding-top: 64px;
        padding-bottom: 80px;

        .top-title {
            margin-bottom: 55px;
        }

        .card-goods {
            margin-bottom: 36px;
        }

        .top-action {
            text-align: center;
        }
    }

    .style {
        .container {
            background-color: #F0F0F0;
            border-radius: 40px;
            padding-top: 70px;
            padding-bottom: 76px;

            .style-title {
                margin-bottom: 64px;
            }

            .styles {
                @include flex-center;
                flex-wrap: wrap;
                gap: 20px;

                .style-item {
                    display: block;
                    text-decoration: none;
                    background-color: $white-color;
                    border-radius: 20px;
                    position: relative;
                    overflow: hidden;
                    transition: .3s;

                    &:hover {
                        box-shadow: 2px 2px 4px rgba($color: $black-color, $alpha: 20%);
                    }

                    &.wide {
                        min-width: 684px;
                    }

                    &.short {
                        min-width: 407px;
                    }


                    .style-item-image {
                        font-size: 0;
                        text-align: right;
                        height: 100%;

                        img {
                            height: 100%;
                        }
                    }

                    .style-item-title {
                        position: absolute;
                        top: 25px;
                        left: 36px;
                        font-family: 'SatoshiBold', sans-serif;
                        font-size: 36px;
                        color: $black-color;
                    }
                }
            }
        }
    }

    .review {
        padding-top: 80px;
        padding-bottom: 170px;

        .container {
            .review-header {
                @include flex-end-between;
                margin-bottom: 40px;

                .review-title {
                    text-align: left;
                }

                .review-action {
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    svg {
                        cursor: pointer;
                    }
                }
            }
        }

        .reviews {
            // display: grid;
            // justify-content: center;
            // grid-template-columns: repeat(auto-fit, 400px);
            // grid-gap: 20px;

            .review-item {
                border: 1px solid rgba($color: $black-color, $alpha: 10%);
                border-radius: 20px;
                padding: 28px 32px;
                min-height: 240px;
                max-width: 400px;
                margin-right: 10px;
                margin-left: 10px;

                &.slick-slide {
                    &:not(.slick-active) {
                        filter: blur(4px);
                    }
                }

                .review-item-rating {
                    display: flex;
                    align-items: center;
                    gap: 6.49px;
                    margin-bottom: 15px;
                }

                .review-item-author {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    margin-bottom: 12px;

                    span {
                        font-family: 'SatoshiBold', sans-serif;
                        font-size: 20px;
                        line-height: 22px;
                    }
                }

                .review-item-message {
                    font-size: 16px;
                    line-height: 22px;
                    color: rgba($color: $black-color, $alpha: 60%);
                }
            }
        }
    }
}

.footer {
    padding-top: 140px;
    padding-bottom: 81.97px;
    background-color: #F0F0F0;
    position: relative;

    .container {
        .wrapper {
            @include flex-center-between;
            gap: 113.5px;

            &:last-child {
                .copy {
                    font-size: 14px;
                    color: rgba($color: $black-color, $alpha: 60%);
                }

                .action {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    a {
                        @include flex-center;
                        width: 46.61px;
                        height: 30.03px;
                        border: 1px solid #D6DCE5;
                        background-color: $white-color;
                        border-radius: 5.38px;
                        transition: .3s;

                        &:hover {
                            background-color: rgba($color: $white-color, $alpha: 50%);
                        }
                    }
                }
            }

            .help-wrapper {
                @include flex-center-between;
                width: 100%;

                .help {
                    .help-title {
                        font-family: 'SatoshiMedium', sans-serif;
                        font-size: 16px;
                        letter-spacing: 3px;
                        line-height: 18px;
                        text-transform: uppercase;
                        margin-bottom: 26px;
                    }
    
                    .help-list {
                        list-style: none;
    
                        .help-list-item {
                            &:not(:last-child) {
                                margin-bottom: 20px;
                            }
    
                            a {
                                font-size: 16px;
                                line-height: 19px;
                                color: rgba($color: $black-color, $alpha: 60%);
                                text-decoration: none;
                                transition: .3s;
    
                                &:hover {
                                    color: $black-color;
                                }
                            }
                        }
                    }
                }
            }

            .info {
                max-width: 248px;

                .logo {
                    display: inline-block;
                    margin-bottom: 25px;
                }

                .info-text {
                    font-size: 14px;
                    line-height: 22px;
                    color: rgba($color: $black-color, $alpha: 60%);
                    margin-bottom: 35px;
                }

                .info-action {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    .action-link {
                        @include flex-center;
                        width: 28px;
                        height: 28px;
                        border-radius: 50%;
                        border: 1px solid rgba($color: $black-color, $alpha: 20%);
                        transition: .3s;
                        background-color: $white-color;

                        &:hover {
                            background-color: $black-color;

                            svg {
                                path {
                                    fill: $white-color;
                                }
                            }
                        }

                        svg {
                            path {
                                fill: $black-color;
                            }
                        }
                    }
                }
            }
        }

        hr {
            margin-top: 50px;
            margin-bottom: 25px;
            border: 0;
            border-top: 1px solid rgba($color: $black-color, $alpha: 10%);
            height: 1px;
        }
    }

    .callback {
        @include flex-center-between;
        position: absolute;
        top: 0;
        left: calc(50% - 620px);
        background-color: $black-color;
        border-radius: 20px;
        padding: 36px 64px;
        min-width: 1240px;
        color: $white-color;
        transform: translateY(-50%);

        .callback-title {
            font-family: 'IntegralCFBold', sans-serif;
            font-size: 40px;
            line-height: 45px;
            max-width: 551px;
        }

        .callback-form {
            .form-mail {
                position: relative;
                margin-bottom: 14px;

                input {
                    &::placeholder {
                        color: rgba($color: $black-color, $alpha: 40%);
                    }

                    font-size: 16px;
                    padding: 12px 16px 12px 52px;
                    border-radius: 62px;
                    height: 48px;
                    border: 0;
                    outline: 0;
                }

                svg {
                    position: absolute;
                    top: 12px;
                    left: 16px;
                }
            }

            .form-btn {
                width: 100%;
                padding: 12px 16px;
                height: 46px;
            }
        }
    }
}

.mobile-header-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $white-color;
    z-index: 999;
    padding: 24px;
    transform: translateX(-100%);
    transition: .3s;

    &.active {
        transform: translateX(0);
    }

    .close {
        text-align: right;

        svg {
            cursor: pointer;

            path {
                fill: $black-color;
            }
        }
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .menu-list {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 24px;
            list-style: none;

            .menu-item {
                .menu-link {
                    color: $black-color;
                }
            }
        }
    }
}

@import 'adaptive';